/ %meta{:content => "initial-scale=1, user-scalable=0", :name => "viewport"}

.hello
  =image_tag '/logo-intro.gif', :class=> 'boom center-block'
  %h1 Happenings
  %p The quickest way to privately share what’s happening between friends!
  .call-to-action
    / %a{:href => "https://itunes.apple.com/us/app/happenings-its-whats-happening!/id1086484372?ls=1&mt=8", :target => '_blank'}
    /   %img{:src => "/download.svg"}
    %a{:href => '#'}
      %img{:src => "/comingsoon.svg"}
    = link_to 'Join a Happening', view_path, :class=> 'join'

.demo
  .row.step-1
    .container
      .col.text
        %p Capture what’s happening.
      .col.pic
        =image_tag '/haps_capture.gif'
  .row.step-2
    .container
      .col.text
        %p
          %span Share the code
          %span to invite friends.
      .col.pic
        =image_tag '/haps_join.gif'
  .row.step-3
    .container
      .col.text
        %p
          %span Watch along as
          %span it all happens!
      .col.pic
        =image_tag '/haps_watch.gif'


.wrapper
  .call-to-action
    / %a{:href => "https://itunes.apple.com/us/app/happenings-its-whats-happening!/id1086484372?ls=1&mt=8", :target => '_blank'}
    /   %img{:src => "/download.svg"}
    %a{:href => '#'}
      %img{:src => "/comingsoon.svg"}
    = link_to 'Join a Happening', view_path, :class=> 'join'

.wrapper
  .social-media
    %a{:href => "https://www.facebook.com/happeningsapp/"}
      %img{:src => "/facebook.svg"}
    %a{:href => "https://twitter.com/happeningsapp"}
      %img{:src => "/twitter.svg"}


.legal
  .text-center
    = link_to 'Terms', legal_terms_path
    = link_to 'Privacy', legal_privacy_path
    .small
      An
      = link_to 'Eight Bit Studios', 'http://eightbitstudios.com'
      Production