.navbar.navbar-collapse
  %ul.nav.navbar-nav.pull-right
    /%li
    /  = link_to 'Download', 'http://eightbitstudios.com'
    %li
      = link_to 'Coming Soon', '#'

.hello
  =image_tag '/logo-intro.gif', :class=> 'boom center-block'
  %h1 Happenings
  %p The quickest way to privately share what’s going on between friends!
  %p.call-to-action
    = link_to 'See What\'s Happening', view_path, :class=> 'btn btn-lg btn-default'

.demo
  .row.slide.cfx.step-1
    .container
      .col-md-6.col-xs-12
        %p Capture what’s happening.
      .col-md-6.col-xs-12
        =image_tag '/haps_capture.gif', :class=> 'img-responsive center-block'
  .row.slide.step-2
    .container
      .col-xs-12.hidden-md.hidden-lg
        %p Share the code to invite friends.
      .col-md-6.col-xs-12
        =image_tag '/haps_join.gif', :class=> 'img-responsive center-block'
      .col-md-6.col-xs-12.hidden-sm.hidden-xs
        %p Share the code to invite friends.
  .row.slide.step-3
    .container
      .col-md-6.col-xs-12
        %p Watch along as it all happens!
      .col-md-6.col-xs-12
        =image_tag '/haps_watch.gif', :class=> 'img-responsive center-block'


.legal
  .text-center
    
    
    = link_to 'Terms', legal_terms_path
    = link_to 'Privacy', legal_privacy_path
    .small
      An 
      = link_to 'Eight Bit Studios', 'http://eightbitstudios.com'
      Production