!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:name=> "apple-mobile-web-app-capable", :content => "yes"}/
    %meta{:content => "initial-scale=1, user-scalable=0", :name => "viewport"}
    %meta{:name=> "apple-itunes-app", :content => "app-id=1086484372"}
    %meta{:property=> "og:image", :content=>"/happeningsapp-facebook.jpg"}
    %link{ :rel=>"icon", :type=>"image/png", :sizes=>"32x32", :href=>"/favicon-32x32.png" }/
    
    %title Happenings App - it's what's happening
    %meta{:name => "description", :content => "The quickest way to privately share what’s happening between friends on iPhone and AppleTV"}

    %script{:src => "/limericks.js"}
    
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = yield
    = render '/layouts/googs'